:root {
    --transition-color: 0.5s;
    --color-highlight: #7c3aed;
    --color-highlight-hover: #8b5cf6;
    --header-height: 7rem;
}

[data-theme="light"] {
    --color-main: #FEFEFE;
    --color-secondary: #1e1e1e;
    color: var(--color-secondary);

    body {
        background-color: var(--color-main);
    }

}

[data-theme="dark"] {
    --color-main: #1e1e1e;
    --color-secondary: #FEFEFE;
    color: var(--color-secondary);

    body {
        background-color: var(--color-main);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
    transition: color var(--transition-color);
}

body {
    height: 100svh;
    font-family: Inter, sans-serif;
    transition: background-color var(--transition-color);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button, .header-link, .item {
    width: max-content;
    height: 40px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: var(--color-highlight);
    border-radius: 8px;
    padding: 8px 20px;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-highlight-hover);
        cursor: pointer;
    }
}

label {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid var(--color-highlight);
    border-radius: 8px;
    background-color: var(--color-main);
    transition: border-color 0.3s, background-color var(--transition-color);
    color: var(--color-secondary);

    &:focus-visible {
        outline: none;
        border-color: var(--color-highlight-hover);
    }

    &[type="number"] {
        padding: 7px;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.125rem;

    &::marker {
        color: var(--color-highlight-hover);
    }

    &:hover {
        color: var(--color-highlight-hover);
    }
}

.home-link {
    text-decoration: none;
    color: var(--color-secondary);
}